//Variables used in the project



//color
@white:#ffffff;
@whitePale : rgba(255, 255, 255, .9);
@black: black;
@purple:#986ece;
@orange:#cc8c72;
@green:#a1cc72;
@blue:#7192cc;
@red:#cc6e6e;
@pink:#cc72ca;
@yellow:#ccbf72;
@turquoise:#6ecacc;
@grey:#c1c1c1;
@greyPale:#f2f2f2;
@greyFooter:#f2f2f2;

@purplePale : rgba(166, 147, 204, .4);
@orangePale : rgba(219, 147, 20, .4);
@greenPale : rgba(72, 135, 76, .4);

@purpleExtraPale : rgba(166, 147, 204, 0.05);
@orangeExtraPale : rgba(219, 147, 20, 0.05);
@greenExtraPale : rgba(72, 135, 76, 0.05);

//hover
@asideHover: #e8e8e8;

//font
@fontColor: #7f7f7f;
@fontColorLight: #b4b4b4;
@fontColorDark: #4c4c4c;

//margin
@marginB: 20px;

//border
@borderColor: #e6e6e6;
@border:1px solid @borderColor;
@borderActive:2px solid @borderColor;
@borderDark: 1px solid #c4c4c4;

@borderOrange: 1px solid rgba(219, 147, 20, .4);
@borderGreen: 1px solid rgba(72, 135, 76, .4);
@borderPurple: 1px solid rgba(166, 147, 204, .4);

 @borderTurquoiseDark: 1px solid @turquoise;
 @borderYellowDark: 1px solid @yellow;
 @borderPurpleDark: 1px solid @purple;
 @borderBlueDark: 1px solid @blue;
 @borderPinkDark: 1px solid @pink;
 @borderOrangeDark: 1px solid @orange;
 @borderRedDark: 1px solid @red;
 @borderGreenDark: 1px solid @green;

// @borderPurpleDark:2px solid rgba(166, 147, 204, .7);


@boxShadow: 0px 0px 15px #f1f1f1;
@boxShadowPurple:  0px 0px 6px @purplePale;
@boxShadowOrange:  0px 0px 6px @orangePale;
@boxShadowGreen:  0px 0px 6px @greenPale;

@borderRadius : 10px;

//RESPONSIVE
@mobile:487px;
@mobileCorrection:575px; //@mobile-1px, pour responsive
@pad:685px;
@desktop:992px;
@desktopCorrection:991px; //@desktop-1px, pour ameliorer le responsive
@desktopLarge:1200px;

//MODULES
@navbarHeight: 60px;
@sidebarHeight: 808px;
@footerHeight: 56px;
//ICONS

